<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yaoyumeng.v2ex2" >
    /** permission **/
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Coding.AppTheme" >
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5600ba3de0f55a7e06003d7b" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="play" />

        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.LoginActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".ui.NodeActivity" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.v2ex.com"
                    android:pathPattern="/go/.*"
                    android:scheme="http" />
                <data
                    android:host="www.v2ex.com"
                    android:pathPattern="/go/.*"
                    android:scheme="https" />
                <data
                    android:host="v2ex.com"
                    android:pathPattern="/go/.*"
                    android:scheme="http" />
                <data
                    android:host="v2ex.com"
                    android:pathPattern="/go/.*"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.MyInfoActivity" >
        </activity>

        <activity
            android:name=".ui.TopicActivity"
            android:label="@string/title_activity_topic"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.v2ex.com"
                    android:pathPattern="/t/.*"
                    android:scheme="http" />
                <data
                    android:host="www.v2ex.com"
                    android:pathPattern="/t/.*"
                    android:scheme="https" />
                <data
                    android:host="v2ex.com"
                    android:pathPattern="/t/.*"
                    android:scheme="http" />
                <data
                    android:host="v2ex.com"
                    android:pathPattern="/t/.*"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.UserActivity" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.v2ex.com"
                    android:pathPattern="/member/.*"
                    android:scheme="http" />
                <data
                    android:host="www.v2ex.com"
                    android:pathPattern="/member/.*"
                    android:scheme="https" />
                <data
                    android:host="v2ex.com"
                    android:pathPattern="/member/.*"
                    android:scheme="http" />
                <data
                    android:host="v2ex.com"
                    android:pathPattern="/member/.*"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.TopicAddActivity"
            android:label="@string/title_activity_topic_add"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize">
        </activity>
        <activity
            android:name=".ui.TopicCommentActivity"
            android:label="@string/title_activity_topic_comment"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize">
        </activity>
        <activity
            android:name=".ui.SettingsActivity"
            android:label="@string/title_activity_settings">
        </activity>
        <activity
            android:name=".ui.AboutActivity"
            android:label="@string/settings_about">
        </activity>
        <activity
            android:name=".ui.PhotoViewActivity"
            android:launchMode="singleTask">
        </activity>

        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService" >
        </service>
        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.umeng.socialize.view.ShareActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:theme="@style/Theme.UMDialog"
            android:windowSoftInputMode="stateVisible|adjustResize" >
        </activity>
        <!-- ############ QQ空间和QQ SSO授权的Activity注册 ############ -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- 100424468，如果你使用的公用账号，则不需要修改；否则修改成你在QQ开放平台申请的 APP ID-->
                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>
        <activity android:name="com.tencent.connect.common.AssistActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait" >
        </activity>

        <receiver android:name=".broadcast.AlarmReceiver" />

        <service
            android:name=".service.NoticeService"
            android:process=":notice">
        </service>
    </application>

</manifest>
